{
  "presets": ["next/babel"],
  "plugins": [
    [
      "effector/babel-plugin",
      {
        "reactSsr": true,
        "factories": [
          "@effector/reflect",
          "@effector/reflect/ssr",
          "@app/shared/factories/createCounter"
        ],
        "importName": ["@app/root"]
      }
    ]
  ]
}
